body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header{
  width: 100%;
  height: 100px;
  background: #f0f0f0;
}
.content{
  background: red;
}
footer{
  width: 100%;
  height: 100px;
  background: #f0f0f0;
}
