<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cheer前端网站</title>
</head>
<body>
<div>
    <header>banner</header>
    <div class="content">
        <div class="con-left">
            <a class="moudle-bg bg1" href="appManageIndex.html">
                <span>APP应用管理模块</span>
            </a>
            <a class="moudle-bg bg2">
                <span>UI库管理模块</span>
            </a>
            <a class="moudle-bg bg3">
                <span>公用组件模块</span>
            </a>
            <a class="moudle-bg bg4">
                <span>公用组件模块</span>
            </a>
            <a class="moudle-bg bg5">
                <span>公用组件模块</span>
            </a>
        </div>
        <div class="con-right">

        </div>
    </div>
    <footer>footer</footer>
</div>
</body>
</html>